<div class="card shadow-sm">
  <div class="card-body">
    <h3 class="card-title"><%= @page.title %></h3>
    <hr>
    <div class="prose">
      <%= @page.content %>
      
    </div>
  </div>
</div>
